@import 'fonts.css';

:root{
    --body: #040d1f;
    --text: #fff;
    --linkHover: #ed8e00;
    --btn: #f18128;
    --btnHover: #040D1f;
    --title: #f18128;
    --font-primary: 'Comfortaa';
    --font-secondary: 'Montserrat';
    --font-ternary: 'Roboto';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-primary);
    background: var(--body);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;   
}

.btn{
    width: 166px;
    border-radius: 28px;
    background: var(--btn);
    padding: 17px 0;
    text-align: center;
    font-family: var(--font-ternary);
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    color: #000;
    transition: 400ms;
}

.btn:hover{
    background: var(--btnHover);
    color: var(--text);
}



/* Nav start */
.nav{
    background: rgb(1, 3, 5, 0.8);
    position: fixed;
    width: 100%;
    z-index: 999;
	backdrop-filter: blur(5px);
}
.nav__logo{
    color: var(--text);
	display: flex;
    align-items: center;
    font-size: 150%;
}

.nav__logo img{
    margin-right: 5px;
}

.nav__logoo{
    background: var(--text);
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list{
    display: flex;
}

.nav__link{
    padding: 42px 6px;
    margin-left: 24px;
    display: inline-block;
    font-family: var(--font-secondary);
    font-size: 16px;
    color: var(--text);
    position: relative;
    transition: 400ms;
}

.nav__link:hover{
    color: var(--linkHover);
}

.nav__link::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background: var(--linkHover);
    transition: 400ms;
}

.nav__link:hover::after{
    width: 100%;
    
}
/* Nav end */

/* Header strat */

.header{
    position: relative;
    min-height: 80vh;
    display: flex;
}

.header__banner{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: inherit;
}

.header__content{
    position: relative;
    background: rgb(7, 15, 25, 0.75);
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.header__title{
    font-family: var(--font-secondary);
    font-size: 64px;
    color: var(--text);
    margin-bottom: 30px;    
}

.header__txt{
    max-width: 570px;
    width: 100%;
    color: #ffffff;
    line-height: 24px;
    font-family: var(--font-secondary);
    margin-bottom: 50px;
    text-align: justify;
    
}

.header__btn:first-of-type{
    margin-right: 30px;
}

/* Header end */


/* Section start */

.page {
	flex: 1 1 auto;
}

.page__services {
	position: relative;
	z-index: 2;
	margin: -111px 0px 0px 0px;;
}

.page__clients:not(:last-child) {
	margin: 0px 0px 10px 0px;
    
}
/* @media (max-width: 992px) {} */
@media (max-width: 850px) {
	.md {
	  grid-row: 1 span;
	  grid-column: 4 span;
	}
  
	.md .series__banner {
	  object-position: 0 35%;
	}
  
	.sm {
	  grid-column: 2 span;
	}
  }
  
  @media (max-width: 768px) {
  
	.nav {
	  padding: 15px 0;
	}
  
	.nav__list {
	  display: none;
	}
  
	.nav__menu {
	  width: 50px;
	  height: 50px;
	  display: flex;
	  align-items: center;
	}
  
	.nav__line {
	  width: 100%;
	  height: 2px;
	  background: var(--text);
	  position: relative;
	}
  
	.nav__line::before,
	.nav__line::after {
	  content: '';
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  background: inherit;
	  top: -10px;
	}
  
	.nav__line::after {
	  top: 10px;
	}
  }
  
  /* @media (max-width: 736px) {} */
  /* @media (max-width: 734px) {} */
  @media (max-width: 684px) {
  
	.premier {
	  background: rgba(255, 255, 255, 0.6);
	}
  
	.footer__container {
	  flex-direction: column;
	}
  
	.footer__apps {
	  margin-bottom: 20px;
	}
  
  }
  
  /* @media (max-width: 667px) {} */
  /* @media (max-width: 576px) {} */
  @media (max-width: 414px) {
  
	.ads {
	  padding: 14px 0;
	  font-size: 14px;
	}
  
	.nav__logo {
	  font-size: 14px;
	}
  
	.nav__logo img {
	  width: 50%;
	}
  
	.header__title {
	  font-size: 50px;
	}
  
	.films__card {
	  width: 100%;
	}
  
	.premier__content-img {
	  width: 100%;
	}
  
	.premier__content-txt {
	  -webkit-line-clamp: 4;
	}
  
	.series__content-title {
	  font-size: 32px;
	}
  
	.sm {
	  grid-column: 4 span;
	}
  
  }
  
  /* @media (max-width: 412px) {} */
  @media (max-width: 375px) {
	
	.header__btns {
	  display: grid;
	  row-gap: 20px;
	}
	
  }
  /* @media (max-width: 360px) {} */
  @media (max-width: 320px) {
	
	.header__title {
	  font-size: 30px;
	}
	
	.series__content-title {
	  font-size: 26px;
	}
	
	.footer__txt {
	  font-size: 14px;
	}
	
  }

@media (min-width: 670px) {
	.services__body {
		display: flex;
		flex-wrap: wrap;
		margin:98px 36px;
	}
}
.services__column {
	flex: 0 1 33.333%;
}
@media (min-width: 670px) {
	.services__column {
		padding: 0px 15px;
	}
}

@media (max-width: 992px) {
	.services__column {
		flex: 0 1 50%;
	}
	.services__column:not(:last-child) {
		margin: 0px 0px 30px 0px;
	}
	.services__column:last-child {
		flex: 1 1 100%;
	}
}
.services__item {
	height: 100%;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	background-color: #fff;
	padding: 35px;
}

@media (max-width: 479px) {
	.services__item {
		padding: 25px;
	}
}

.item-service_green {
	background-color: #0d5c63;
}
.item-service_green .item-service__title {
	color: #fff;
}
.item-service_green .item-service__text {
	color: #fff;
}

.item-service > *:not(:last-child) {
	margin: 0px 0px 10px 0px;
}

.item-service__title {
	font-weight: 700;
	letter-spacing: 0.1px;
	font-size: 24px;
	line-height: 133%;
}
.item-service__text {
	color: #737373;
	line-height: 142%;
}




.series {
    padding-bottom: 60px;
  }
  
  .series__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
  }
  
  .series__item {
    position: relative;
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
    border-radius: 6px;
    overflow: hidden;
    min-height: 190px;
    display: grid;
    place-items: center;
  }
  
  
  .series__banner {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: .5s;
  }
  
  .series__item:hover .series__banner  {
    transform: scale(1.3);
  }
  
  .series__content {
    color: var(--text);
    display: grid;
    place-items: center;
    text-align: center;
    row-gap: 20px;
    padding: 0 22px;
  }
  
  .series__content-title {
    font-size: 40px;
  }
  
  .series__content-btn{
      padding: 7px 0;
  }
  
  .series__content-txt {
    line-height: 24px;
    -webkit-line-clamp: 4;
  }
  
  
  
  h4.series__content-title {
    font-size: 24px;
  }
  
  .text-limitedd{
      text-align: justify;
      font-size: 16px;
      
  }
  
  .lg {
    grid-row: 2 span;
    grid-column: 4 span;
    line-height: 142%;
    text-align: justify;
    padding: 12px 98px 0px 154px;
  }
  
  .md {
    grid-row: 2 span;
    grid-column: 2 span;
  }
  
 .sm{
     background: none;
 }
 
 
 .whoweare {
	background: #ffffff;
	padding: 80px 0px 50px 0px;
}

.whoweare__header {
	margin: 0px 0px 100px 0px;
}
.whoweare__body {
	display: flex;
	align-items: flex-start;
}

.header-block__title {
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
}

.whoweare__video {
	flex: 0 0 57%;
	position: relative;
	padding: 0px 0px 0px 100px;
}
.whoweare__video iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.whoweare__content {
	flex: 1 1 auto;
    
}
.whoweare__title {
	font-weight: 800;
	font-size: 40px;
	line-height: 142%;
	letter-spacing: 0.2px;
}
.whoweare__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.whoweare__text {
    color: #000000;
    line-height: 142%;
    text-align: justify;
    padding: 0px 99px 0px 0px;
    font-size: 20px;
    
}
.whoweare__top:not(:last-child) {
	margin: 0px 0px 50px 0px;
}

.whoweare__item:not(:last-child) {
	margin: 0px 0px 30px 0px;
}

.item-whoweare {
	display: flex;
}
.item-whoweare__icon {
	flex: 0 0 32px;
}
.item-whoweare__body {
	flex: 1 1 auto;
	padding: 0px 0px 0px 20px;
}
.item-whoweare__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
}
.item-whoweare__title:not(:last-child) {
	margin: 0px 0px 5px 0px;
}
.item-whoweare__text {
	color: #737373;
	white-space: nowrap;
	line-height: 142%;
	width: 225px;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media (max-width: 1080px) {
	.whoweare__content {
		padding: 0px 0px 0px 50px;
	}
}
@media (max-width: 950px) {
	.whoweare {
		padding: 50px 0px 50px 0px;
	}
	.whoweare__body {
		flex-direction: column-reverse;
		align-items: stretch;
	}
	.whoweare__title {
		font-size: 24px;
	}
	.whoweare__content {
		padding: 0px 0px 0px 0px;
	}
	.whoweare__video {
		padding: 0px 0px 56.25% 0px;
	}
	.whoweare__video:not(:last-child) {
		margin: 50px 0px 0px 0px;
	}
	.whoweare__header {
		margin: 0px 0px 30px 0px;
	}
}
@media (max-width: 767px) {
	.whoweare {
		padding: 20px 0px 50px 0px;
	}
	.whoweare__top:not(:last-child) {
		margin: 0px 0px 30px 0px;
	}
	.whoweare__video:not(:last-child) {
		margin: 30px 0px 0px 0px;
	}
}

/* Section end */


/* footer start */


.getintouch {
	padding: 80px 0px 135px 0px;
}

.getintouch__header {
	margin: 0px 0px 80px 0px;
}
.getintouch__items {
	margin: 0px -15px;
}

.getintouch__item {
	flex: 0 1 33.333%;
}
.item-getintouch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	padding: 50px 15px;
}
.item-getintouch_active {
	background: #252b42;
	padding: 80px 15px;
	color: #fff;
}
.item-getintouch_active .item-getintouch__button {
	border: 1px solid #fff;
	color: #fff;
}

.item-getintouch > *:not(:last-child) {
	margin: 0px 0px 15px 0px;
}

.item-getintouch__emails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.item-getintouch__email {
	color: inherit;
	font-weight: 600;
	line-height: 150%;
	font-size: 16px;
	text-align: center;
}
.item-getintouch__email:hover {
	text-decoration: underline;
}
.item-getintouch__label {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
}
.item-getintouch__button {
	border: 1px solid #ff7b47;
	min-height: 44px;
	display: flex;
	font-weight: 600;
	justify-content: center;
	align-items: center;
	color: #ff7b47;
	line-height: 142%;
	padding: 5px 20px;
	text-align: center;
	transition: all 0.3s ease 0s;
	border-radius: 5px;
}
.item-getintouch__button:hover {
	border: 1px solid #ff7b47;
	background-color: #ff7b47;
	color: #fff;
}

@media (min-width: 992px) {
	.getintouch__items {
		margin: 0;
		display: flex;
		align-items: center;
	}
}
@media (max-width: 992px) {
	.getintouch {
		padding: 50px 0px;
	}
	.getintouch__header {
		margin: 0px 0px 50px 0px;
	}
	.item-getintouch_active {
		padding: 50px 15px;
	}
}
@media (max-width: 767px) {
	.getintouch__header {
		margin: 0px 0px 30px 0px;
	}
}
/* ------------------------------------------ */
.contact {
	background-color: #fff;
	padding: 42px 0;
}

.contact__content {
	padding: 0px 0px 20px 0px;
}

@media (min-width: 767px) {
	.contact__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.contact__content {
		padding: 0px 20px 0px 0px;
	}
}

.contact__title {
	font-weight: 700;
	letter-spacing: 0.1px;
	font-size: 24px;
	line-height: 133%;
}
.contact__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.contact__text {
	color: #737373;
	line-height: 142%;
}
.contact__button {
	display: flex;
	background-color: #ff7b47;
	border-radius: 5px;
	min-height: 58px;
	padding: 5px 40px;
	transition: background-color 0.3s ease 0s;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
}
.contact__button:hover {
	background-color: #aa5330;
}
/* Section end */

/* --------------------------------------------------- */


.footer__top {
	background: #17213c;
	padding: 35px 33px;
}

.footer__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
}
.footer__column {
	padding: 15px 15px;
	flex: 0 1 16.6667%;
}
.footer__column:last-child {
	flex: 0 1 33.334%;
}
@media (max-width: 992px) {
	.footer__column {
		flex: 0 1 25%;
	}
	.footer__column:last-child {
		flex: 1 1 100%;
	}
}
@media (max-width: 992px) {
	.footer__column {
		flex: 0 1 50%;
	}
}

.footer__label {
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	margin: 0px 0px 20px 0px;
}

.menu-footer__item:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.menu-footer__link {
	color: #fff;
	display: inline-block;
	line-height: 171%;
	letter-spacing: 0.2px;
}
.menu-footer__link:hover {
	text-decoration: underline;
}



.contacts-footer {
	display: flex;
	flex-direction: column;
}
.contacts-footer__item {
	padding: 0px 0px 0px 34px;
	line-height: 142%;
	display: flex;
	align-items: center;
	color: #ffffff;
	min-height: 30px;
}
.contacts-footer__item:hover {
	text-decoration: underline;
}
.contacts-footer__item:not(:last-child) {
	margin: 0px 0px 12px 0px;
}
.contacts-footer__item_phone {
	background: url("../img/footer/icons/01.svg") 0 0 no-repeat;
}
.contacts-footer__item_map {
	background: url("../img/footer/icons/02.svg") 0 0 no-repeat;
}
.contacts-footer__item_email {
	background: url("../img/footer/icons/03.svg") 0 0 no-repeat;
}
.footer__bottom {
	padding: 25px 0;
}
.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__copy {
	color: #737373;
	line-height: 171%;
}

.social__item{
	color: #fff;
	display: flex;
    align-items: center;
}
.social__item img {
	padding-right: 10px;
}

.social {
	display: flex;
	align-items: center;
}
.social__item:not(:last-child) {
	margin: 0px 20px 0px 0px;
}
@media (max-width: 767px) {
	.footer__container {
		flex-direction: column;
	}
	.footer__copy {
		margin: 0px 0px 15px 0px;
		text-align: center;
	}
}
.copy{
	color: #fff;
	text-align: center;
	padding: 20px 0;
	
}
.whoweare__video video {
	width: 100%;
}


@media (max-width: 1320px) {
	.avto-6 {
		height: 490px;
		width: 620px;
	}
}
@media (max-width: 1290px) {
	.whoweare__text {
		line-height: 125%;
		font-size: 18px;
	}
	.item-getintouch_active {
		padding: 70px 15px;
	}
	.contacts-footer__item:not(:last-child) {
		margin: 0px 0px 12px 0px;
	}
}
@media (max-width: 1140px) {
	.header__title {
		font-size: 55px;
	}
	.avto-6 {
		width: 520px;
		height: 390px;
	}
	.whoweare__video {
		padding: 0px 0px 0px 80px; 
	}
	.whoweare__text  {
		padding: 0px 80px 0px 0px; 
		line-height: 100%;
		font-size: 17px;
	}
	.container  {
		max-width: 1050px;
	}
}
/* @media (max-width: 1024px){} */
@media (max-width: 992px) {
	.container {
		max-width: 950px;
	}
	.services__column {
		flex: 0 1 50%;
	}
	.services__column:not(:last-child) {
		margin: 0px 0px 30px 0px;
	}
	.services__column:last-child {
		flex: 1 1 100%;
	}
	.getintouch__items {
		margin: 0;
		display: flex;
		align-items: center;
	}
	.getintouch {
		padding: 50px 0px;
	}
	.getintouch__header {
		margin: 0px 0px 50px 0px;
	}
	.item-getintouch_active {
		padding: 50px 15px;
	}
	.footer__column {
		flex: 0 1 25%;
	}
	.footer__column:last-child {
		flex: 1 1 100%;
	}
	.footer__column {
		flex: 0 1 50%;
	}
	.premier__video {
	padding: 0 20px 0 0;	
	}
	.item-service_green {
		text-align: center;
	}
	.whoweare__video  {
		padding: 0px 0px 0px 40px;	
	}
	.whoweare__content   {
		padding: 0px 0px 0px 10px;	
	}
	.whoweare__text {
		padding: 0px 50px 0px 0px;
		line-height: 100%;
		font-size: 16px;
	}
}
@media (max-width: 850px){
	
	.container  {
		max-width: 800px;
	}
	.header__title {
		font-size: 45px;
	}
	.whoweare__video:not(:last-child) {
		margin: 0;
		padding: 2% 14%;
	}
	.avto-6 {
		width: 100%;
		height: 100%;
	}
	.header-block__title {
		font-size: 35px;
		line-height: 50%;
	}
	.whoweare__text  {
		padding: 0 15px;
		text-align: center;
	}
	.item-getintouch {
		padding: 40px 15px;
	}
	.item-getintouch__email {
		font-size: 15px;
	}
	.md  {
		grid-row: 1 span; 
		grid-column: 4 span;	
	}
	.series__content-title {
		font-size: 35px;	
	}
	.series__content  {
		padding: 10px 22px;	
	}
}
/* @media (max-width: 768px){} */
@media (max-width: 736px) {
	.lg {
		padding: 10px 60px;
	}
	.nav__logo {
		font-size: 120%;	
	}
	.nav__link {
		font-size: 15px;
		margin-left: 24px
	}
	.header__title {
		font-size: 40px;
	}
	.header__txt {
		max-width: 500px;
	}
}
/* @media (max-width: 734px) {} */
/* @media (max-width: 684px){} */
@media (max-width: 667px) {
	.header__title  {
		font-size: 35px;
	}
	.header__txt {
		font-size: 15px;
	}
	.services__item {
		text-align: center;
		margin-bottom: 30px;
	}
	.nav__link  {
		padding: 15px 6px;	
		margin-left: -25px;
	}
	.nav__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);	
	}
	.premier {
		padding: 42px 0 60px;	
	}
	.item-getintouch__icon img {
		width: 70%;
	}
	.item-getintouch__email {
		font-size: 13px;	
	}
	.item-getintouch__button {
		font-size: 15px;
	}
	.series__content  {
		padding: 10px 16px;	
	}
}
/* @media (max-width: 576px) {} */
@media (max-width: 414px) {
	h4.series__content-title {
		font-size: 20px;
	}
	.lg {
		padding: 10px;
	}
	.nav__link {
		padding: 5px 0;	
	}
	.nav__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.container {
		display: inline-block;
	}
	.nav__logo {
		display: flex;
		justify-content: center;	
		padding: 5px 0;
		font-size: 100%;
	}
	.nav__link  {
		font-size: 14px;
	}
	.nav__list {
		display: flex;
		justify-content: space-around;
	}
	.header__title {
		font-size: 25px;
	}

	.btn  {
		width: 150px;
		padding: 12px 0;
		font-size: 15px;
	}
	.premier__content-image {
		margin-bottom: 20px;
		font-size: 14px;	
	}
	.premier__content-txt {
		font-size: 15px;
		line-height: 20px;
		max-width: 300px;
		margin-bottom: 25px;
	}
	.services__item  {
		margin-bottom: 30px;
	}
	.md {
		grid-column: 4 span;
	}
	.series__content-title {
		font-size: 20px;
	}
	.text-limitedd {
		text-align: center;
	}
	.header-block__title {
		font-size: 20px;
	}
	.whoweare__text  {
		padding: 0 5px;
		font-size: 13px;
		margin-bottom: 10px;
	}
	.item-getintouch > *:not(:last-child) {
		text-align: center;
	}
	.getintouch__items {
		display: block;
	}
	.item-getintouch__email {
		font-size: 17px;
	}
	.item-getintouch {
		padding: 30px 15px;
	}
	.header__txt  {
		font-size: 14px;
		max-width: 245px;	
		margin-bottom: 25px;
	}
	.whoweare {
		padding: 20px 0px 25px 0px;
	}
	.footer__top  {
		padding: 20px 15px;	
	}
	.item-getintouch {
		margin-bottom: 20px;
	}
	.nav__logo img {
		width: 50px;
		height: 50px;
	}
	.getintouch {
		padding: 25px 0;
	}
	.text-limitedd {
		font-size: 14px;
	}
	.nav {
		padding: 0;
	}
}
/* @media (max-width: 412px) {} */
@media (max-width: 375px){

	.series__content-txt {
		line-height: 20px;	
	}
	.nav__logo  {
		font-size: 100%;
	}
	.header__btns {
		display: grid;
		row-gap: 0px;
	}
	.header__btn  {
		margin-bottom: 10px;
	}
	.series__content  {
		padding: 5px 16px;	
	}
	.premier__content-txt {
		font-size: 14px;
		max-width: 280px;	
	}
	.header__title {
		font-size: 21px;
		margin-bottom: 18px;
	}
}
@media (max-width: 360px){
	h4.series__content-title{
		font-size: 18px;
	}
	.series__content  {
		padding: 0;
	}
}
@media (max-width: 320px){
	.header__title {
		font-size: 23px;
	}
}